* {
    margin: 0;
}
/* Banner section */
.side{
    display: flex;
}
.banner {
    gap: 100px;
    padding: 320px 320px 100px 320px;
    background-image: url('../images/banner/banner3.png');
}

.banner-tittle {
    color: white;
    align-items: center;
    text-align: right;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 60px;
    margin-bottom: 20px;
}

.banner-des {
    color: white;
    align-items: center;
    text-align: right;
    margin-right: 20px;
    font-size: 22px;
    margin-bottom: 20px;
}
.btn-pri{
    margin-top: 20px;
    background-color: white;
    color: blue;
    text-align: center;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 190px;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
}
/* main-section starts here*/

.pic-art{
    align-items: center;
    padding: 150px 300px 30px 300px ;
    gap: 100px;
    display: flex;
    margin-bottom: 50px;
}
.pic-art-tittle{
    color: black;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 50px;
    margin-bottom: 30px;
}
.pic-art-des{
    color: black;
    justify-content: space-between;
    margin-right: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

li{
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
}
/* My Plans */
.sec1-tittle{
    text-align: center;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 50px;
    margin-bottom: 80px;
}
.sec1{
   margin: 30px 300px 0 300px;
}
.icon-des{
    display: flex;
    gap: 100px;
}
.name-tittle{
    margin-top: 20px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.sec1{
    margin-bottom: 120px;
}
.sec1-des{
    text-align: center;
}
.name-des{
    font-size: 25px;
}
/* Box section */
.box{
    margin: 100px 350px 100px 300px;
    height: 270px;
    width: 1000px;
    border: none;
    border-radius: 15px;
    position: relative;
    background-image: url('../images/gradient1.png'),url('../images/watch.png');
}
.box-des{
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 700;
    color:white;
    font-size: 50px;
}
.btn1{
    background-color: white;
    color: blue;
    margin-top: 10px;
    margin-left: 50px;
    border: none;
    height: 60px;
    width: 170px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
}