* {
    margin: 0;
}
/* Banner section */
.side{
    display: flex;
}
.banner {
    gap: 100px;
    padding: 320px 320px 100px 320px;
    background-image: url('../images/banner/banner3.png');
}

.banner-tittle {
    color: white;
    align-items: center;
    text-align: right;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 60px;
    margin-bottom: 20px;
}

.banner-des {
    color: white;
    align-items: center;
    text-align: right;
    margin-right: 20px;
    font-size: 22px;
    margin-bottom: 20px;
}
.btn-pri{
    margin-top: 20px;
    background-color: white;
    color: blue;
    text-align: center;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 190px;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
}
/* main-section starts here*/

.pic-art{
    align-items: center;
    padding: 150px 300px 30px 300px ;
    gap: 100px;
    display: flex;
    margin-bottom: 50px;
}
.pic-art-tittle{
    color: black;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 50px;
    margin-bottom: 30px;
}
.pic-art-des{
    color: black;
    justify-content: space-between;
    margin-right: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

li{
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
}
/* My Plans */
.sec1-tittle{
    text-align: center;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 50px;
    margin-bottom: 80px;
}
.sec1{
   margin: 30px 300px 0 300px;
}
.icon-des{
    display: flex;
    gap: 100px;
}
.name-tittle{
    margin-top: 20px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.sec1{
    margin-bottom: 120px;
}
.sec1-des{
    text-align: center;
}
.name-des{
    font-size: 25px;
}
/* Box section */
.box{
    margin: 100px 350px 100px 300px;
    height: 270px;
    width: 1000px;
    border: none;
    border-radius: 15px;
    position: relative;
    background-image: url('../images/gradient1.png'),url('../images/watch.png');
}
.box-des{
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 700;
    color:white;
    font-size: 50px;
}
.btn1{
    background-color: white;
    color: blue;
    margin-top: 10px;
    margin-left: 50px;
    border: none;
    height: 60px;
    width: 170px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
}
.extra-ftr{
    margin: 30px 300px 0 300px;
    gap: 40px;
    display: flex;
}
.extra-ftr-tittle{
    font-weight: 700;
    padding: 0 300px 0 300px;
    font-size: 60px;
    margin: 100px;
    text-align: center;
}
.extra-tittle{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
.extra-des{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
}
.extra1{
    background-color: blanchedalmond;
    padding: 28px;
}
.extra2{
    background-color: rgb(201, 247, 133);
    padding: 28px;
}
.extra3{
    background-color: lightgray;
    padding: 28px;
}
.extra1:hover{
    background-color: pink;
    /* color: black; */
}
.extra2:hover{
    background-color: rgb(191, 246, 80);
    /* color: white; */
}
.extra3:hover{
    background-color: gray;
    /* color: white; */
}
.card{
    margin-bottom: 100px;
}
/* footer */
.ftr{
    background-color: black;
    color: white;
    display: flex;
    gap: 300px;
    height: 400px;
    align-items: center;
    padding: 100px 300px 0 300px;
}
.ftr-tittle{
   font-weight: 700;
   font-size: 50px;
   margin-bottom: 20px;
}
.ftr-sub{
   font-weight: 400;
   font-size: 20px;
   margin-bottom: 20px;
}
.img-icon{
    display: flex;
    gap: 20px;
}
input{
    font-size: 35px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: gray;
    height: 30px;
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
}
.btn{
    font-size: 25px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 9px;
    background-color: blue;
    color: white;
    height: 70px;
    width: 180px;
    padding: 20px;
    margin-bottom: 100px;
}